* {
    box-sizing: border-box;
}

html {

}

body {
    color: #222;
}

h1.logo {
    @extend %h1-logo;
    .compact & {
        padding: 0;
        a {
            color: #FFF;
            text-decoration: none;
        }
    }
    &.alt {
        color: #000;
    }
}

p {
    line-height: 1.5;
    margin-top: 0;
    &.banner {
        background-color: #e74c3c;
        color: #fff;
        display: inline-block;
        font-size: 11px;
        margin-bottom: 32px;
        padding: 8px 24px;
        text-transform: uppercase;
        @include bp(mobile) {
            font-size: 19px;
        }
    }
}

ul {
    margin: 0;
    padding: 0;
}

section {
    position: relative;
    width: 100%;
}

.wrapper {
    position: relative;
    min-width: 1024px;
    margin-top: 110px;
    @include bp(mobile) {
        min-width: initial;
        overflow: hidden;
        width: 640px;
    }
}

.cms-home .wrapper {
    padding-top: 0;
    margin-top: 0;
}

.inner {
    margin: 0 auto;
    width: 944px;
    @include bp(mobile) {
        max-width: 100%;
    }
}

a {
    &.button {
        border: 1px solid #fff;
        color: #fff;
        cursor: pointer;
        font-size: 11px;
        padding: 18px 14px;
        text-decoration: none;
        text-transform: uppercase;
        @include bp(mobile) {
            font-size: 22px;
        }
    }
}

button {
    cursor: pointer;
    @include bp(mobile) {
        font-size: 18px;
    }
}

//Lists
ul, ol{
    list-style-type: none;
}
ul.links li{
    display: inline;
}
ul, ol, dd{
    margin: 0;
}

//Links
a{
    text-decoration: none;
}

.sidebar{
    .block{
        background: $snow;
        margin-top: 1em;
        padding: 1em;
    }
}

@include bp(mobile) {
    .desktop {
        display: none;
    }
}

.mobile {
    display: none;
    @include bp(mobile) {
        display: block;
    }
}
